/* sm */
@media screen and (min-width: 639px) {
  .download .container .right .img_field {
    position: static;
    width: 580px;
    height: 671px;
  }
}

/* md */
@media screen and (min-width: 767px) {
  /* banner */
  .banner .container .content h1 {
    font-size: 50px;
  }
  .banner .container .content p {
    font-size: 18px;
  }
  /* end banner */
  /* features */
  .features .container .heading h2 {
    font-size: 36px;
  }
  .features .container .heading p{
    font-size: 20px;
  }
  .features .container .features_inner h4 {
    font-size: 20px;
  }
  /* end features */
  /* download */
  .download .container .left {
    position: relative;
    z-index: 999999;
  }
  .download .container .left p {
    max-width: 410px;
  }
  .download .container .right {
    margin-top: 0px;
  }
  .download .container .left a,
  .download .container .left a.get_started {
    width: auto;
    text-align: left;
  }
  .download .container .right .img_field {
    position: absolute;
    margin: 0;
    width: 600px;
    height: 777px;
  }
}
/* lg */
@media screen and (min-width: 1023px) {
  .container {
    padding: 0px 8px;
  }
  /* navbar */
  .navbar .container {
    flex-wrap: nowrap;
    background: transparent;
    z-index: 999999999;
  }
  .navbar .container .navbar_collapse {
    flex-grow: 1;
    align-items: center;
    flex-direction: row;
    padding: 0px;
    background: #fff;
    position: static;
    visibility: visible;
    opacity: 1;
  }
  .navbar .container .navbar_collapse .menu {
    display: flex;
    column-gap: 32px;
    margin: 0 auto;
    flex-direction: row;
  }
  .navbar .container .navbar_collapse .nav_button {
    margin-top: 0px;
  }
  /* end navbar */
  /* banner */
  .banner {
    padding: 96px 0px;
  }
  .banner .container .content h1 {
    font-size: 60px;
  }
  /* end banner */
  /* work_lazy */
  .work_lazy .container .work_lazy_inner span {
    border-right: 1px solid #cbd5e1;
    height: 100%;
    width: 0;
    display: inline-block;
  }
  /* end work_lazy */
  /* features */
  .features {
    padding: 96px 0px;
  }
  /* end features */
  /* work_lazy */
  .work_lazy {
    padding: 96px 0px;
  }
  /* end work_lazy */

  /* Testimonial */
  .testimonial {
    padding: 96px 0px;
  }
  /* end Testimonial */
  /* faq */
  .faq {
    padding: 96px 0px;
  }
  /* end faq */
  /* Download  */
  .download {
    padding: 200px 0px;
  }
  .download .container .right .img_field {
    width: 725px;
    height: 902px;
  }
  /* end   Download  */
}
/* xl */

@media screen and (min-width: 1279px) {
  .testimonial .container .testimonial_inner .review_box {
    width: 384px;
  }
}
/* 2xl */

@media screen and (min-width: 1536px) {
}
